<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A platform for both learners and teachers
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://iskoolu.com" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Hello! You've are here, and thanks for visiting .</h2>
    <p>ISKOOLU is a place to learn and teach :-)</p>
    <p>You can create classes and attend classes.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>L</strong>earn</h2>
      <p><a target="_blank" href="http://mongodb.org/">Learn</a> This is a the great place to get started with Learing.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>each</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Teach</a> A great experience in teaching.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>L</strong>earn</h2>
      <p><a target="_blank" href="http://mongodb.org/">Learn</a> This is a the great place to get started with Learing.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>each</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Teach</a> A great experience in teaching.</p>
    </div>

  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The ISKOOLU Team.
</section>
